<% @breeds.each do |breed| %>
  <div class="breed">
    <p><strong>Breed Name:</strong><%= breed.name %></p>
    <p><strong>Description:</strong><%= breed.description %></p>
    <%= link_to 'Cats belonging to this breed.', breed %>
  </div>
  <br>
<% end %>