<div class="breed"><p>
  <strong>Name:</strong>
    <%= @breed.name %></p>
    
    <p><strong>Associated Cats:</strong>
    <ul>
      <% @breed.cats.each do |cat| %>
        <li><%= link_to cat.name, cat %></li>
        
     <% end %>
    </ul>
    
    <p><%= link_to "Back to breeds.", breeds_path %></p>
</p></div>