<div class="contact">
  <h2><%= @contactpage.header %></h2>
  <p><%= @contactpage.hours %></p>
  <p><%= @contactpage.contact_info %></p>
    <p><strong><%= link_to "Back to Cats!", home_path %></strong></p>
</div>